.hero {
  background-image: url('../public/img/freshchicken-480.jpg');
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
  margin-top: -20px;
  color: white;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.hero__slogan {
  background-color: rgba(0, 0, 0, 0.5);
}

.title {
  text-align: center;
}

.cardWrapper {
  display: flex;
  justify-content: center;
}

.infoWrapper {
  display: flex;
  justify-content: center;
}

.info {
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
  background: rgb(172, 172, 172);
  background: linear-gradient(
    190deg,
    rgba(172, 172, 172, 1) 0%,
    rgba(255, 255, 255, 1) 100%
  );
  text-align: center;
  border-radius: 50px;
  width: 80%;
  padding: 10px;
}

.infoTitle {
  font-size: 32px;
}

.infoTitle > b {
  color: brown;
}

.btn__promo {
  font-weight: 700;
  z-index: 2;
  padding: 20px;
  background-color: rgb(83, 121, 57);
  grid-column: 6/8;
  grid-row: 8;
  grid-row: 8;
  text-align: center;
  padding: 0;
  font-size: calc(0.75rem + 1vw);
  padding: 10px;
  box-shadow: 0 10px 30px rgba(#414856, 0.1);
  border-radius: 5px;
}

@media screen and (max-width: 560px) {
  .hero {
    min-height: 320px;
  }
}
