.container {
  border: 1px solid black;
  background-color: white;
  /* width: 22%;
  padding: 10px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* padding: 20px 40px; */
  cursor: pointer;
  border-radius: 20px;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

.title {
  font-size: 18px;
  font-weight: bold;
  color: black;
}

.price {
  font-size: 18px;
  font-weight: bold;
  color: #666;
}

.desc {
  text-align: center;
  color: #777;
  max-width: 165px;
  width: 100%;
  font-size: 16px;
  text-transform: none;
  min-height: 60px;
  margin-bottom: 5px;
  line-height: 1.2;
  overflow: hidden;
}

@media screen and (max-width: 560px) {
  .container {
    width: 100%;
    margin: 0px 60px 10px 60px;
  }

  .title {
    font-size: 18px;
  }

  .desc {
    font-size: 16px;
  }
}
